export(create_shadow_polygons)
export(create_sunlight_areas)
export(create_time_control)
export(create_shadow_map)
export(create_building_shadow_map)
export(extract_buildings)
export(convert_to_2D)
export(clean_polygon)
export(visualize_buildings)
export(calc_centroids)
export(calc_solar_pos)
export(calculate_shadow_length)
export(calculate_shadow_points)
export(calculate_all_shadows)
